* {
  box-sizing: border-box; }

body {
  background-color: #161616;
  font-family: 'Roboto', sans-serif; }

.container-fluid header {
  height: 90px;
  background-color: white;
  text-transform: uppercase;
  border-bottom: 4px solid #20B7F0;
  color: #EE0C1C; }
  .container-fluid header h1 {
    font-family: 'Bangers', cursive;
    margin: 12px 0;
    font-size: 6rem; }
    .container-fluid header h1 a {
      color: #EE0C1C; }
  .container-fluid header nav #menuIcon {
    display: none;
    font-size: 5rem;
    height: 100%; }
    .container-fluid header nav #menuIcon:hover {
      color: #f53845; }
  .container-fluid header nav ul {
    font-family: 'Bangers', cursive;
    text-align: right;
    font-size: 3rem;
    margin: 17px 0;
    z-index: 999999; }
    .container-fluid header nav ul li {
      display: inline-block;
      padding: 10px 15px; }
      .container-fluid header nav ul li a {
        color: #EE0C1C; }

.container .row .contactInfo {
  margin-top: 60px;
  color: #EE0C1C; }
  .container .row .contactInfo h4 {
    color: white; }

.container .row #map {
  margin-top: 60px;
  height: 400px;
  width: 49%;
  overflow: hidden; }

@media (max-width: 768px) {
  .container-fluid header nav #menuIcon {
    display: inline-block;
    float: right;
    padding-right: 15px;
    padding-left: 80px;
    padding-top: 8px;
    padding-bottom: 8px; }
  .container-fluid header nav ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: white;
    border: 4px solid #20B7F0;
    right: 0px;
    top: 70px;
    width: 50%; }
    .container-fluid header nav ul li {
      font-size: 2rem;
      text-align: center; }
      .container-fluid header nav ul li a {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0; }
  .container-fluid header nav:hover ul {
    display: block; }
    .container-fluid header nav:hover ul li {
      display: block; } }
