* {
  box-sizing: border-box; }

body {
  background-color: #161616;
  font-family: 'Roboto', sans-serif; }

.container-fluid header {
  height: 90px;
  background-color: white;
  text-transform: uppercase;
  border-bottom: 4px solid #20B7F0;
  color: #EE0C1C; }
  .container-fluid header h1 {
    font-family: 'Bangers', cursive;
    margin: 12px 0;
    font-size: 6rem; }
    .container-fluid header h1 a {
      color: #EE0C1C; }
  .container-fluid header nav #menuIcon {
    display: none;
    font-size: 5rem;
    height: 100%; }
    .container-fluid header nav #menuIcon:hover {
      color: #f53845; }
  .container-fluid header nav ul {
    font-family: 'Bangers', cursive;
    text-align: right;
    font-size: 3rem;
    margin: 17px 0;
    z-index: 999999; }
    .container-fluid header nav ul li {
      display: inline-block;
      padding: 10px 15px; }
      .container-fluid header nav ul li a {
        color: #EE0C1C; }

.featured {
  padding-top: 50px; }
  .featured h2 {
    font-family: 'Bangers', cursive;
    color: #F4C136;
    padding: 15px 10px;
    margin: 0;
    font-size: 7rem; }
  .featured .featuredCharacter {
    text-align: center;
    background-color: white;
    border-radius: 25px;
    border: 6px solid #EE0C1C;
    padding: 30px;
    margin-bottom: 80px; }
    .featured .featuredCharacter img {
      height: auto;
      width: 100%;
      padding: 20px; }
    .featured .featuredCharacter h4 {
      font-weight: 300;
      font-size: 2rem;
      padding-bottom: 10px;
      color: #20B7F0;
      border-bottom: 1px solid lightgrey; }
    .featured .featuredCharacter span {
      font-weight: 300; }
  .featured .featuredComic {
    text-align: center;
    background-color: white;
    border-radius: 25px;
    border: 6px solid #20B7F0;
    padding: 30px;
    margin-bottom: 80px; }
    .featured .featuredComic h2 {
      font-family: 'Bangers', cursive; }
    .featured .featuredComic img {
      height: 200px;
      width: auto; }
    .featured .featuredComic h4 {
      font-weight: 300;
      font-size: 2rem;
      padding-bottom: 10px;
      color: #EE0C1C;
      border-bottom: 1px solid lightgrey; }
    .featured .featuredComic span {
      font-weight: 300; }

@media (max-width: 768px) {
  .container-fluid header nav #menuIcon {
    display: inline-block;
    float: right;
    padding-right: 15px;
    padding-left: 80px;
    padding-top: 8px;
    padding-bottom: 8px; }
  .container-fluid header nav ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: white;
    border: 4px solid #20B7F0;
    right: 0px;
    top: 70px;
    width: 50%; }
    .container-fluid header nav ul li {
      font-size: 2rem;
      text-align: center; }
      .container-fluid header nav ul li a {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0; }
  .container-fluid header nav:hover ul {
    display: block; }
    .container-fluid header nav:hover ul li {
      display: block; } }
